nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 2%;
    margin-right: 10%;
}

#list{
    display: flex;
    list-style: none;
    flex-direction: row ;
    justify-content: space-around;
}

ul > li{
    margin-left: 10%;

}
ul a{
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration-color: blue;
  padding-bottom: 6px;
  border-bottom-style: solid;
}
button {
    background-color: blue;
    width: 80px;
    height: 25px;
    color: white;
    border-color: blue;
  }
#image{
    background-image: url("./image/bgimg.jpg");
    height: 340px;
}
#image > h1{
    text-align: center;
    color: white;
    font-size: 200%;
    margin-top: 0%;
    padding: 7%;


}
.section_one {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    column-gap: 20%;
    align-items: flex-start;
    
  }
  .intro {
    position: relative;
    float: left;
    margin-left: 70px;
  }
  .img_intro {
    position: relative;
    float: right;
    margin-right: 50px;
  }
  .img_intro > img{
    width: 500px;
    height: 200px;
  }
  .cards {
    display: flex;
    column-gap: 50px;
    flex-direction: row;
    flex-grow: 2;
    /* make items grow on resize */
    align-items: stretch;
    box-shadow: 0 0 30px 5px #f7f7f7;
    justify-content: center;
    align-items: center;
    /* make our flex items move as columns */
    flex-direction: column;
    
    padding: 15px;
    margin: 80px;
  }
  .section_two {
   
  }